/*
 *= require_tree .
 *= require_self
 */
 .contenedor{
 	width: 1300px;
 	margin: 10px auto;
 }

 .titulo{
 	margin-left: auto; 
 	margin-right: auto;
 	font-family: 'Raleway', sans-serif;
 	font-style: oblique; 
 	font-weight: 100;
 }


