<h2>Alojamientos</h2>

<ul>
  <% @places.each do |place| %>
  	<li>
  		<%= link_to place.name, place %> | <%= link_to "EDITAR", edit_place_path(place) %>
  		<br>
  		<%= image_tag place.img, size: "80x80" %>
  		
  		
  	</li>
  <% end %>
</ul>